<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
        <body>
            <div class="main-content">
                {{>header}}
                <p>This site was created by me! Kanwal! It uses data from mapbox.com and darksky.net, to give you reliable, live weather data!</p>
                <img class="portrait" src="/img/me.jpg">
            </div>
            {{>footer}}
    </head>
</html>